[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
aiohttp = "*"
kafka-python = "*"
dataclasses-avroschema = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
